body {
  background-color: #F6F8FE;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif;
  margin:0;
  padding:0;
}

#map {
  height: 97.5vh;
  width: 50vw;
  right:0;
}

#canvas {
  height: 97.5vh;
  width: 50vw;
  right:0;
}

.container {
  display:flex;
  flex-direction: row;
  background-color: #F6F8FE;
}

.container > div {
  flex:1;
}

.container > #map {
  position: fixed;
}

.panel {
  position: fixed;
  background-color: rgb(176, 192, 255);
  width:30%;
  height:100px;
  border-bottom: 2px solid black;
  display:flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}

.row {
  display:flex;
  align-items: center;
  justify-content: space-between;
}

.panel > * {
  margin: 0px 5px;
  margin-right:10px;
  margin:5px;
}

.container-files {
  margin-top:7em;
}

button {
  margin:5px;
}


.controls-container {
  display: flex;
  justify-content: start;
  align-items: end;
  flex-direction: column;
  margin: 1em;
  padding:0;
  margin-top: 6em;
  position: absolute;
}

.col1 {
  margin: 10px 2.5px;
  margin-left: 10px;
  margin-bottom: 0px;
  display: flex;
  flex-direction: column;
}

.col2 {
  margin: 10px 10px;
  border-radius: .2rem;
  border: 1px solid #c3c6ce;
}

.col3 {
  margin: 10px 2.5px;
  margin-right: 10px;
  margin-bottom: 0px;
  display: flex;
  flex-direction: column;
}

.card {
  border-radius: .2rem;
  background: #ffffff;
  position: relative;
  padding: 0.4rem 1.2rem;
  padding-bottom: 1.2rem;
  border: 1px solid #c3c6ce;
  overflow: visible;
  margin-bottom:10px;
 }

.card-title {
  display: inline-flex;
  justify-content: space-between;
  width: 100%;
}

.text-card {
  color: rgb(145, 145, 145);
  margin-top:10px;
  font-size:14px;
  margin-top:-5px;
}

.card-title > svg {
  width: 35px;
  margin-top: 3px;
  stroke: rgba(27, 18, 159, 0.296);
}

 .text-body {
  color: rgb(170, 170, 170);
  margin-top:10px;
  font-size:13px;
 }

 /*Text*/
 .text-title {
  font-size: 1em;
  font-weight: 700;
 }

 button {
  background-color: #FFFFFF;
  border: 1px solid rgb(191, 194, 199);
  border-radius: .3rem;
  color: #111827;
  font-family: ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: .875rem;
  font-weight: 600;
  line-height: 1rem;
  padding: .5rem 1rem;
  text-align: center;
  -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  cursor: pointer;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-user-select: none;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}

button:hover {
  background-color: #f9fafb;
}

button:focus {
  outline: 2px solid rgba(0,0,0,0.1);
  outline-offset: 2px;
}

button:focus-visible {
  -webkit-box-shadow: none;
  box-shadow: none;
}

.card-row {
  display:inline-flex;
  align-items:first baseline;
  gap:1rem;
}

.files {
  flex: 1;
  height: 100%;
}

ul {

}

li {
  color: rgb(71, 71, 71);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size:13px;
  word-break: break-all;
  padding: 10px 10px;
  border-bottom: 1px solid #e4e4e4;
  margin: 0px -5px;
}


li:nth-child(odd) {
  background-color: #fafaff;
}

li:first-child {
  margin-top:-3px;
}

.file-content {
  list-style-type: none;
  border-radius: .7rem;
  border: 1px solid #c3c6ce;
  margin: 0;

  overflow:hidden;
  overflow-y:scroll;

  padding: 0.2rem .3rem;
  position: absolute;
  height: -webkit-fill-available;
  width: -webkit-fill-available;
  margin: 1rem 0rem;
  margin-right:1rem;
}

.text-filter {
  color: rgb(66, 66, 66);
  font-size:14px;
  margin-top:-5px;
  margin-bottom:-5px;
}

.images-filter {
  margin:10px;
  margin-right:0px;
  width:20px;
  height: 20px;
}

.images-text {
  align-self: center;
  color: #111827;
  font-family: ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: .875rem;
  font-weight: 600;
  line-height: 1rem;
}

.mtop {
  margin-top: 10px;
}

.mbot {
  margin-bottom: -5px;
}

.interpolation-method {
  background-color: #FFFFFF;
  border: 1px solid rgb(191, 194, 199);
  border-radius: .3rem;
  color: #111827;
  font-family: ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: .775rem;
  font-weight: 400;
  line-height: 1rem;
  padding: .4rem .2rem;
  margin-left: -10px;
  /* text-align: center; */
  -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}

.interpn {
  color: #111827;
  font-family: ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: .775rem;
  font-weight: 400;
  line-height: 1rem;
  margin-left: 20px;
}

.interpn-method {
  background-color: #FFFFFF;
  border: 1px solid rgb(191, 194, 199);
  border-radius: .3rem;
  color: #111827;
  font-family: ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: .775rem;
  font-weight: 400;
  line-height: 1rem;
  padding: .0rem .2rem;
  /* text-align: center; */
  -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}

.inter {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.zIn {
  z-index: 1 !important;
}

.inFilters {
  display: inline-flex;
  justify-content: space-between;
  width: -webkit-fill-available;
}


.outFilters {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  width: -webkit-fill-available;
}

.bounds-card {
  align-items: first baseline;
  gap: 1rem;
  flex: 1;
}

.bounds {
  display: inline-flex;
  justify-content: space-between;
  width: -webkit-fill-available;
  width:100%;
}

.bounds button {
  float:right;
  padding: 0.2rem 0.7rem !important;
}

.bounds-input {
  background-color: #FFFFFF;
  border: 1px solid rgb(191, 194, 199);
  border-radius: .3rem;
  color: #111827;
  font-family: ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: .775rem;
  font-weight: 400;
  line-height: 1rem;
  padding: .2rem .2rem;
  margin: .1rem 0rem;
  /* text-align: center; */
  -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  white-space: nowrap;
  width: 3.3vw;
}

.outFilters button {
  padding: 0.2rem 0.7rem !important;
}

.pre-defined  {
  margin-top: .5rem;
}

.pre-defined button {
  padding: 0.2rem 0.5rem !important;
  font-size: .75rem;
  gap: 0;
  font-weight: 500;
}

button:disabled,
button[disabled]{
  background-color: #e5e5e5;
  color:#c3c6ce;
  cursor:default;
}

.controls-button {
  display:flex;
  flex-direction: column;
  margin:0.2em -0.2em;
  padding:0;
}

.controls-button > div {
  background-color: rgb(255, 255, 255);
  border: 1px solid #757575;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  font-size: larger;
  margin-right: -1.5px;
}

.controls-button > div:hover {
  background-color: rgb(234, 239, 242);
  cursor: pointer;
}

.controls-button svg {
  padding: 0.5em 0.5em;
}

.tooltip {
  display:flex;
  align-items: center;
  justify-content: flex-start;
}
